<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <% if (!locals.isAuth) {%>

    <h1>HomePage</h1>
    <div>
      New here ? <a href="/sign-up">Sign up!</a> or <a href="/log-in">Log in</a>
    </div>
    <div class="messages">
      <% messages.map((msg)=> {%>
      <div class="message">
        <div class="msg_user">Unknown(become a secret club member to know)</div>
        <div class="msg_title"><%=msg.title%></div>
        <div class="msg_content"><%=msg.msg%></div>
        <div class="msg_date">Unknown(become a secret club member to know)</div>
      </div>
      <%})%>
    </div>
    <%}else {%>

    <h1>HomePage</h1>
    <div>
      Hello, <strong><%= currentUser.firstname%></strong>.
      <a href="/log-out">Log out</a>
    </div>
    <% if (locals.currentUser.membership==0){%>
    <div>You are not in the secret club.</div>
    <div><a href="/secret">Join the secret club!</a></div>
    <%}else {%>
    <div>You are in the secret club.</div>
    <%}%>
    <div><a href="/message">Add Message</a></div>
    <div class="messages">
      <% messages.map((msg)=> {%>
      <div class="message">
        <div class="msg_user">
          <%=currentUser.membership ===1 ? msg.firstname+" "+msg.lastname : "Unknown(become a secret club member to know)" %>
        </div>
        <div class="msg_title"><%=msg.title%></div>
        <div class="msg_content"><%=msg.msg%></div>
        <div class="msg_date">
          <%= currentUser.membership ===1 ? msg.date : "Unknown(become a secret club member to know)" %>
        </div>
        <%if (currentUser.admin) {%>
          <a href="/delete-msg/<%=msg.id%>" class="delete-msg">Delete</a>
        <%}%>
      </div>
      <%})%>
    </div>
    <%}%>
  </body>
</html>
